<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Keenon</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/media/forapp/icon.png" type="image/png" sizes="64x64">
	</head>
	<body>
		<div class="main-container">
			<header class="head-panel">
				<a href="/login" class="sigin">Войти</a>
			</header>
			<main class="main-panel">
				<section class="field">
					<a class="brand">Keenon</a>
				</section>
			</main>
			<div class="hole"><img width="1000" height="1000" src="/media/forapp/hole_3.png" ><div class="inf"><p class="disc">Бесплатная подборка фильмов и сериалов</p><div class="quote-field"><p class="quote">{{ movie.tagline }}</p><p class="tit">{{ movie.title }}</p></div><a href="/login" class="begin">Начать</a></div></div>
		</div>
		<script src="/static/script.js"></script>
	</body>
</html> 